nav{
    background-color: #fff;
    
}



.barra {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    color: black;
    box-shadow: 12px 8px 10px rgba(0, 0, 0, 0.1);
    
}

.material {
    height: 100px;
}

.comment {
    margin-left: 3rem; /* Ajusta el valor según tus necesidades */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.publicacion-container {
    position: relative;
    margin-bottom: 20px;
}

.publicacion-padre{
    max-width: 700px; /* Ajusta el ancho máximo del contenedor de los posts */
    margin: 0 auto; /* Centra el contenedor */
}

.post-image {
    width: 100%; /* Ocupa el 80% del ancho del contenedor padre */
    border-radius: 15px; /* Bordes curvados */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

.publicacion-container .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.publi {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.admin-role {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: chocolate;
}

.moderator-role {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(3, 107, 1);
}

.user-role {
    color: rgb(255, 255, 255);
    font-weight: normal;
    background-color: rgb(0, 112, 232);
}

.delegado-role {
    color: rgb(255, 255, 255);
    font-weight: normal;
    background-color: rgb(218, 0, 0);
}

.reaction-button {
    position: relative;
    display: inline-block;
    
}

.reaction-button .btn {
    
    
    color: #218838;
    border: none;
    
    cursor: pointer;
    border-radius: 5px;
    
    position: relative;
    z-index: 1;
}

.reaction-button .btn:hover {
    background-color: #e2e2e2;
    
}
.btn-comentar{
    color: #218838;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
}

.btn-comentar:hover {
    background-color: #e2e2e2;
}




.reaction-options {
    display: none;
    position: absolute;
    bottom: 100%; /* Posiciona las opciones de reacciones sobre el texto "Reaccionar" */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 20px;
    z-index: 1;
    white-space: nowrap; /* Asegura que los elementos se alineen horizontalmente */
}

.reaction-item {
    position: relative;
    display: inline-block;
    margin-right: 5px; /* Espacio entre las imágenes */
    
}



.reaction-item img {
    width: 32px; /* Tamaño fijo para las imágenes */
    height: 32px; /* Tamaño fijo para las imágenes */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño sin distorsionarse */
    transition: transform 0.3s;
}

.reaction-item:hover img {
    transform: scale(1.3); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.reaction-item .user-list {
    display: none;
    position: absolute;
    bottom: 100%; /* Mostrar la lista de usuarios sobre la imagen */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Fondo gris con transparencia */
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
    white-space: nowrap;
    
    
}
.react-user-name {
    font-size: 12px !important; /* Tamaño de fuente más pequeño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.reaction-item:hover .user-list {
    display: block;
    
}

.reaction-name {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; /* Evita que el texto se desborde en forma vertical */
    max-width: 150px; /* Limita el ancho del contenedor del nombre */
    overflow: hidden; /* Oculta el texto que se desborde */
    text-overflow: ellipsis;
    
}

.reaction-item:hover .reaction-name {
    opacity: 1;
}

.reaction-button:hover .reaction-options {
    display: block;
}

.reactions-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.reactions-summary img {
    width: 10px;
    height: 10px;
    
}

.reactions-summary span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-name {
    color: blue; /* Aplica el color azul a los nombres de los usuarios */
}

.mt-2.d-flex.align-items-center {
    display: flex;
    align-items: center;
}

.post-popu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-moderadores {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight {
    -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 221, 255, 0.75);
    -moz-box-shadow: 0px 0px 16px 2px rgba(0, 221, 255, 0.75);
    box-shadow: 0px 0px 16px 2px rgba(0, 221, 255, 0.75);
    transition: border 0.3s ease;
}

.highlight2 {
    
    background-color: yellow; /* Color de fondo para resaltar */
    font-weight: bold; /* Texto en negrita */
    
}

.nav-link.active {
    color: #28a745 !important; /* Cambia el color del texto a verde */
    font-weight: bold; /* Hace el texto más grueso */
    transition: color 0.3s ease; /* Añade una transición suave */
}

.nav-link.active svg {
    fill: #28a745; /* Cambia el color del SVG a verde */
}

.table-rounded {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Ajusta el valor según tus necesidades */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}

.panel-control {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
}

.tema-imagen {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste al tamaño sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados */
}

.comment-content:hover .comment-user-list {
    display: block; /* Muestra el contenedor al pasar el cursor */
}

.comment-user-list {
    display: none; /* Oculta el contenedor por defecto */
    position: absolute;
    bottom: 100%; /* Posiciona el contenedor hacia arriba del ícono */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-width: 200px; /* Ajusta el ancho máximo según sea necesario */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto desbordado */
}

.comment-user-name {
    font-size: 12px !important; /* Tamaño de fuente más pequeño */
    line-height: 1.2; /* Ajusta la altura de la línea */
    margin-bottom: 2px; /* Espacio entre los nombres */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto desbordado */
}

.indicator {
    margin-left: 2px;
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.indicator.rotate {
    transform: rotate(0deg);
}

/* tools*/
.sidebar {
    
    height: 100vh;
    background-color: #151a21;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Añade scroll si el contenido es demasiado largo */
    padding: 56px 0 0 0;
    width: 45px;
    transition: width 0.3s;
}
.sidebar:hover {
    width: 250px;
}

.sidebar .nav-link {
    font-weight: 500;
    margin: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .nav-link:hover {
    background-color: #497653;
}

.nav-link.activo {
    background-color: #218838 !important; /* Color de fondo para el elemento activo */
    color: white; /* Color del texto para el elemento activo */
}

.nav-link.activo .feather {
    color: white; /* Color del icono para el elemento activo */
}



.sidebar .nav-link .nav-text {
    display: none;
    margin-left: 10px;
}

.sidebar:hover .nav-link .nav-text {
    display: inline;
}

.sidebar .nav-link svg {
    flex-shrink: 0;
}